# node
node_modules/
**/node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
dist/
build/
.cache/
.next/
out/

# tests & local
coverage/
.vscode/
.idea/
.DS_Store
tmp/
tmp.kill.write.json*
Heap.*.heapsnapshot

# secrets
.env
.env.*

